body {
  background-image: url('backgroundCalculator.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
html {
  /*Calculadora no centro da página*/
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
#resultado {
  text-align: right;
  background-color: #505050;
  color: white;
  padding-right: 16px;
  font-size: 47px;
  grid-column: 1 / 5;
  border: none;
  height: 60px;
  margin-right: 0.8px;
}
.container {
  max-width: 230px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  align-items: center;
  justify-content: center;
}

.stateButtons {
  background-color: #505050;
  border-radius: 10px 10px 0px 0px;
  height: 10px;
  padding: 3px 4px;
  grid-column: 1 / 5;
  display: flex;
  margin-right: 0.8px;
}

.stateButton {
  flex: 0 1 auto;
  border-radius: 50%;
  margin: 2px;
  height: 100%;
  margin-right: 4px;
  border: none;
}

.btn {
  opacity: 80%;
  cursor: pointer;
  border: none;
  margin-bottom: 0.8px;
  margin-right: 0.8px;
  color: white;
  line-height: 50px;
  font-size: 21px;
}

.btn--0 {
  grid-column: 1 / 3;
  border-bottom-left-radius: 10px;
}

.btnResultado {
  border-bottom-right-radius: 10px;
}

.stateButton1 {
  background-color: #f6605a;
}
.stateButton2 {
  background-color: #f8ba40;
}
.stateButton3 {
  background-color: #36c34b;
}
.btnOperator {
  background-color: #f99e29;
}
.btnLimpar,
.btnMaisMenos,
.btnPercentagem {
  background-color: #605f64;
}
.btnNumber,
.btnDecimal {
  background-color: #737478;
}
